    </div>

<footer id="websiteFooter">

    <div>
        <h4>Avertissement</h4>
        <p>
            Army Creator ne permet pas de créer une liste d'armée sans posséder le codex correspondant !
    Ce site n'est pas officiel ni en aucun cas autorisé ou approuvé par Games Workshop.
    Warhammer, Warhammer 40.000, le logo Games Workshop, Games Workshop, Space Marines, Blood Angel, Dark Angel, Eldars, Eldars Noirs, Marines du chaos, Demons du chaos, Orks, Guarde Imperiale, Ordo Malleus, Ordo Hereticus, Necrons, Tau, Tyrannides, Codex, ainsi que tous les noms d'unités, d'armes et d'équipements sont des marques de Games Workshop Limited, utilisées sans autorisation et sans volonté de préjudice ou comme opposition à leur copyright.
        </p>
    </div>

    <div id="madeBy">
        <div class="right">
            Design par :
            <a href="http://www.itsstillthere.com">
                itsstillthere.com
            </a>
        </div>

        <div class="mt2">
            Créé et développé par :
            Julien Deniau
            <a href="http://www.twitter.com/j_deniau">
                <i class="el-icon-twitter"></i>
            </a>
            <a href="http://www.github.com/jdeniau">
                <i class="el-icon-github"></i>
            </a>
        </div>
    </div>
</footer>

{# vim: set filetype=twig: #}
