<header id="websiteHeader">
    {% block websiteHeaderBar %}
        <div class="headerBar">
            <a href="/" title="Army Creator">
                <i class="el-icon-home"></i>
            </a>
            <span class="hide-mobile">
                |
                Bienvenue sur ArmyCreator
            </span>

            <span class="right">
                {% if user_data.username %}
                {#{% trans with { "%username%": armycreator_user.username } %}header.hello.%username%{% endtrans %}#}
                    Bonjour {{ user_data.username }}

                    {#
                    {% if is_granted('ROLE_CONTRIB') %}
                        |
                        <a href="/admin/" title="{{ "main_menu.admin" }}" class="important">
                            {{- "main_menu.admin" -}}
                        </a>
                    {% endif %}
                    #}
                    |
                    {% set sid = user_data.session_id %}
                    <a href="/forum/ucp.php?mode=logout&sid={{ sid }}">
                        Se déconnecter
                        <i class="el-icon-off"></i>
                    </a>
                {% else %}
                    <a href="/forum/ucp.php?mode=login">
                        Connexion
                    </a>
                    |
                    <a href="/forum/ucp.php?mode=register">
                        Inscription
                    </a>
                {% endif %}
            </span>
        </div>
    {% endblock %}

    {% block websiteHeader %}
        <div class="logo"></div>
    {% endblock %}

    {% block websiteNav %}
        <nav id="websiteNav" role="navigation" tabindex="0">
            <div class="left">
                <ul>
                    <li class="current first">
                        <a href="/"><span>Accueil</span></a>
                    </li>
                    <li>
                        <a href="/forum/"><span>forum</span></a>
                    </li>
                    {% if user_data.username %}
                        <li>
                            <a href="/army/"><span>listes d'armées</span></a>
                        </li>
                    {% endif %}
                    <li class="last">
                        <a href="/army/public"><span>listes publiques</span></a>
                    </li>
                </ul>
            </div>

            <div class="right">
                <ul>
                    <li class="first">
                        <a href="/user/" onclick=""><span>joueurs</span></a>
                    </li>
                    <li>
                        <a href="/collection" onclick=""><span>ma collection</span></a>
                    </li>
                    <li>
                        <a href="/toolbox/" onclick=""><span>outils</span></a>
                    </li>
                    <li class="last">
                        <a
                            href="/donation?cmd=_s-xclick&amp;hosted_button_id=L7PK6V4R4LPHG"
                            target="_blank"
                            onclick=""
                            rel="noopener noreferrer"
                        >
                            <span>faire un don</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endblock %}
</header>

<div class="acForum" id="websiteContentContainer">
{# vim: set filetype=twig: #}
