/bin
/web/bundles/
/web/forum/cache/*
!/web/forum/cache/.gitkeep
/web/js/
/web/css/
/web/tmp/
/web/phpinfo.php
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/src/Sitioweb/Bundle/ArmyCreatorBundle/Resources/doc/maquettes/
/src/Sitioweb/Bundle/ExternalJsBundle/Resources/public/
node_modules/
