{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}My army detail{% endblock %}

{% block h1Container %}
{% endblock %}

{% block content %}
<header>
    <div>
        Breed logo
    </div>

    <div>

    </div>
</header>
{% endblock %}

