{% extends "SitiowebArmyCreatorBundle::layout.html.twig" %}

{% block content %}
    {{ form_start(form) }}
        <div class="squadListContainer">
            <div class="squadList">
                {% for line in form.userHasUnitList %}
                    <div class="squad">
                        <div class="squadName">
                            <h4>{{ line.vars.value.unit.name }}</h4>
                        </div>
                        <div class="squadLine">
                            {{ form_widget(line) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
