{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block content %}
    {% block menu %}
        <nav class="subMenu">
            {{ knp_menu_render('main') }}
        </nav>
    {% endblock %}

    {% block diceContent %}
    {% endblock %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% if app.environment == 'dev' %}
        <!-- dev:dice.css -->
          <link rel="stylesheet" type="text/css" href="/tmp/css/dice.css/dice.css">
        <!-- endbuild -->
    {% else %}
        <!-- prod:dice.css --><!-- endbuild -->
    {% endif %}
{% endblock %}
