{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block content %}
    {% block menu %}
        <nav class="subMenu">
            {{ knp_menu_render('SitiowebDiceBundle:Builder:mainMenu') }}
        </nav>
    {% endblock %}

    {% block diceContent %}
    {% endblock %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% if app.environment == 'dev' %}
        <!-- dev:dice.css -->
<link rel="stylesheet" href="/tmp/css/dice.css/dice_0.css" />
<!-- endbuild -->
    {% else %}
        <!-- prod:dice.css --><!-- endbuild -->
    {% endif %}
{% endblock %}
