{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block content %}
    {% block menu %}
        <nav class="subMenu">
            {{ knp_menu_render('SitiowebDiceBundle:Builder:mainMenu') }}
        </nav>
    {% endblock %}

    {% block diceContent %}
    {% endblock %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <!-- *:dice.css -->
      <link rel="stylesheet" type="text/css" href="/tmp/css/dice.css/dice.css">
    <!-- endbuild -->
{% endblock %}
