<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ArmyCreator{% endblock %} - ArmyCreator</title>

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block jsVariables %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
