{% extends '::base.html.twig' %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>Type
            <th>Entities
            <th>Import
            <th>Clear
        </tr>
    </thead>

    <tbody>
        {% for import in importList %}
            {% if import.name == "SitiowebArmyCreatorBundle:User" %}
                <tr><td colspan="4" style="text-align:center; color:red; border:1px solid red ">maintenant c'est sensible</td></tr>
            {% endif %}
            <tr>
                <td>{{ import.name }}
                <td>{{ import.count }}
                <td><a href="{{ path(import.route) }}">Import</a>
                <td><a href="{{ path('clear_entity_class', {'entityClass' : import.name} ) }}">Clear</a>
            </tr>
        {% endfor %}
    </tbody>
</table>


<ul>
    <li>Modifier les couleurs des "UnitType"
</ul>
{% endblock %}
