{% extends 'SitiowebArmyCreatorBundle:Squad:new.html.twig' %}

{% block squadAddContent %}
    <form action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        {% for squadLine in form.squadLineList %}
            {{ form_widget(squadLine) }}
        {% endfor %}

        <p>
            <button type="submit">Create</button>
        </p>
    </form>

{% endblock %}
