parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: armycreator
    database_user: ***
    database_password: ***
    database_name_forum: armycreator_forum
    database_name_acl: armycreator_acl

    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null

    locale: fr
    secret: ***
    
    forum_sid: 'forum_ac441h_sid'

    donation_parameters: 
        cmd: _s-xclick
        hosted_button_id: L7PK6V4R4LPHG
