parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: armycreator
    database_user: ***
    database_password: ***
    database_name_forum: armycreator
    database_name_acl: armycreator

    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null

    locale: fr
    secret: ***
    
    forum_sid: 'forum_ac441h_sid'

    donation_parameters: 
        cmd: _s-xclick
        hosted_button_id: L7PK6V4R4LPHG

    domain.api: 'api.armycreator.net'
    domain.oauth2: 'oauth2.armycreator.net'
    domain.website: 'www.armycreator.net'
    sentry_dsn: "https://xxx@sentry.io/12345"
