/* ------------------------------------------------------ */
/*			- LESS functions - 					 	      */
/* ------------------------------------------------------ */
.simple-linear-gradient(@direction, @top, @bottom) {
	background: @bottom;
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d,endColorstr=%d)", @top, @bottom));
	background: -webkit-linear-gradient( @direction, @top, @bottom );
	background:    -moz-linear-gradient( @direction, @top, @bottom );
	background:     -ms-linear-gradient( @direction, @top, @bottom );
	background:      -o-linear-gradient( @direction, @top, @bottom );
	background:         linear-gradient( @direction, @top, @bottom );
}
.triple-linear-gradient(@direction, @color1:#ccc, @stop1:0, @color2:#ddd, @stop2:50%, @color3:#ccc, @stop3:100%) { 
    background :@color2;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d,endColorstr=%d)", @color1, @color3)); 
	background: -webkit-linear-gradient(@direction, @color1 @stop1, @color2 @stop2, @color3 @stop3);
    background:    -moz-linear-gradient(@direction, @color1 @stop1, @color2 @stop2, @color3 @stop3);
    background:     -ms-linear-gradient(@direction, @color1 @stop1, @color2 @stop2, @color3 @stop3);
    background:      -o-linear-gradient(@direction, @color1 @stop1, @color2 @stop2, @color3 @stop3);
    background:         linear-gradient(@direction, @color1 @stop1, @color2 @stop2, @color3 @stop3); 
}

.border-radius(@px){
	border-radius:@arguments;
	-moz-border-radius:@arguments;
	-webkit-border-radius:@arguments;
}

.box-shadow (@params) {
	-webkit-box-shadow: @params; 
	   -moz-box-shadow: @params; 
	        box-shadow: @params;
}


.radial-gradient(@posX:center, @posy:center, @angle:45deg, @shape:circle, @SiZe:closest-side, @from:white, @to:black){
	background-image: -moz-radial-gradient(@posX @posy @angle, @shape @SiZe, @from, @to);
	background-image: -webkit-radial-gradient(@posX @posy @angle, @shape @SiZe, @from, @to);
	background-image: -ms-radial-gradient(@posX @posy @angle, @shape @SiZe, @from, @to);
	background-image: -o-radial-gradient(@posX @posy @angle, @shape @SiZe, @from, @to);
}

.transformRotate(@deg) {
	-webkit-transform: rotate(@deg);
	    -ms-transform: rotate(@deg);
	     -o-transform: rotate(@deg);
	        transform: rotate(@deg);
}

/* ------------------------------------------------------ */
/*			- Parameters -   					 	      */
/* ------------------------------------------------------ */
@minGlobalWidth: 1010px;
@switchToGlobalWidth: 1280px; // = @minGlobalWidth / @globalWidth
@globalWidth: 80%;
@globalBackgroudColor: #1a1a1a;
@globalBackgroudImage: '/images/background.jpg';
@globalTopBackgroudImage: '/images/top-background.jpg';
@globalColor: #fff;
@globalLinkColor: #fff;
@globalLinkHoverColor: #70695f;
@globalButtonColor: #585a4c;
@contentFullBackgroundColor: #151514;
@squadBackgroundColor: #2e2f2a;
@squadNameBackgroundColor: #242c2b;
@unitTypeBackgroundColor: #20211d;
@unitTypeForegroundColor: #70695f;

.globalWidth { width: @globalWidth; margin: 0 auto; }
.minGlobalWidth { width: @minGlobalWidth; margin: 0 auto; }
.globalBackground { background: url(@globalBackgroudImage) top center no-repeat @globalBackgroudColor }
.globalTopBackground { background: url(@globalTopBackgroudImage) top center no-repeat }

@font-face {
    font-family: Din Bold;
    src: url(/fonts/din-bold.otf);
    src: local(':)'), url(/fonts/din-bold.ttf) format('truetype');
}

/* ------------------------------------------------------ */
/*			- CSS -          					 	      */
/* ------------------------------------------------------ */


html { font-family: Verdana, arial, helvetica, sans-serif }
body {
    .globalBackground; color: @globalColor; 
    font-family: arial, Verdana, "Century Gothic", helvetica, sans-serif;
}
a {
    color: @globalLinkColor; text-decoration: none;
    &:hover { color: @globalLinkHoverColor }
}
.row.gut > * + * {
    border-color: transparent;
}
ul.inline {
    overflow: auto; list-style-type: none; padding: 0;
    > li { float: left; }
}

.breedImage {
    display: inline-block; padding: 3px;
    .triple-linear-gradient(top, #858e79, 24%, #000, 76%, #434442);
    .border-radius(10px);
    /*8.box-shadow(0 5 10px #000);*/
    img {
        display: block;
        .border-radius(7px);
    }
}

#websiteHeader {
    .minGlobalWidth;
    .globalTopBackground;
    .box-shadow(0 0 15px #000);
    position: relative; height: 146px;
    .headerBar {
        color: #70695f; height: 25px; line-height: 25px; padding: 0 10px;
        a { color: #fff }
        .box-shadow(0 2px 3px rgba(0,0,0,0.46));

        background: #3c3529;
        filter: e(%("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d,endColorstr=%d)", #000, #3c3529));
        background: -webkit-linear-gradient( top, rgba(0, 0, 0, 0.54) 10%, rgba(23,26,20,0.54) 18%, rgba(44,45,38,0.54) 73%, rgba(60,53,41,0.54) 97%, rgba(13,9,5,0.75));
        background:    -moz-linear-gradient( top, rgba(0, 0, 0, 0.54) 10%, rgba(23,26,20,0.54) 18%, rgba(44,45,38,0.54) 73%, rgba(60,53,41,0.54) 97%, rgba(13,9,5,0.75));
        background:     -ms-linear-gradient( top, rgba(0, 0, 0, 0.54) 10%, rgba(23,26,20,0.54) 18%, rgba(44,45,38,0.54) 73%, rgba(60,53,41,0.54) 97%, rgba(13,9,5,0.75));
        background:      -o-linear-gradient( top, rgba(0, 0, 0, 0.54) 10%, rgba(23,26,20,0.54) 18%, rgba(44,45,38,0.54) 73%, rgba(60,53,41,0.54) 97%, rgba(13,9,5,0.75));
        background:         linear-gradient( top, rgba(0, 0, 0, 0.54) 10%, rgba(23,26,20,0.54) 18%, rgba(44,45,38,0.54) 73%, rgba(60,53,41,0.54) 97%, rgba(13,9,5,0.75));
    }
    .logo {
        background: url('/images/logo.png') top center no-repeat;
        width: 160px; height: 72px; position: absolute; top: 50px; left: 50%; margin-left: -80px;
    }
}

#websiteNav {
    .minGlobalWidth;
    /*position: absolute; bottom: 0; left: 0;*/
    margin-top: 80px; overflow: auto;
    ul {
        overflow: auto; list-style-type: none; padding: 0; 
        li {
            float: left; line-height: 41px;
            a { padding: 0 15px; border-left: 1px solid #595e45; border-right: 1px solid #20231d; font-family: Din Bold; font-size: 1.1em }
            &:first-child a { border-left-color: transparent }
            &:last-child a { border-right-color: transparent }
        }
    }
    a { color: #fff }
}

#websiteContentContainer {
    .minGlobalWidth;
    overflow: auto;
    background: url(/images/content-background.png) repeat;
    #websiteContent {
        margin: 30px 15px;
        #breadcrumb {
            .border-radius(2px); .box-shadow(0 2px 4px #000); display: inline-block;
            ul {
                li {
                    height: 25px; line-height: 25px; padding: 0 8px;
                    .simple-linear-gradient(bottom, #3e3830, #1d1b1a);
                    &.last {
                        .simple-linear-gradient(bottom, #4a483a, #282b24);
                    }
                }
            }
        }
        
        > header {
            overflow: auto; margin-top: 20px;
            .breed { float: left; margin: 0 20px 0 0; }
            .breed, .armyDescription .name, .armyDescription .description span {
                text-shadow: 1px 1px 3px #000; font-style: italic; font-weight: 700; font-size: 1.1em;
            }
            .armyDescription {
                float: left;
                .name { font-size: 2em; margin:0 }
            }
        }
    }
}

@media (min-width: @switchToGlobalWidth) {
    #websiteContentContainer {
        .globalWidth;
    }
}

#websiteFooter { .minGlobalWidth }

#armyDetail {
    background: @contentFullBackgroundColor;
    margin-top: 20px;
    .unitTypeTopList {
        padding: 10px 0;
        > div { display: inline-block; margin-right: 1em }
    }

    .unitTypeList {
        margin-bottom: 1.5em; 
        .unitType {
            display: table-cell; width: 120px;  background: @unitTypeBackgroundColor; color: @unitTypeForegroundColor; position: relative; overflow: hidden; vertical-align: top;
        }
        .squadList {
            .squad {
                float: left; width: 240px; /*height: 135px;*/ overflow: hidden; margin: 0 0.8em 0.8em 0;
                h5 { margin-bottom: 0.5em  }
                // &:hover { height: auto }
                .squadName {
                    background: @squadNameBackgroundColor;
                    position: relative; height: 28px; line-height: 28px; margin-bottom: 2px; padding: 0 0.8em;
                }

                .squadLine {
                    background: @squadBackgroundColor;
                    margin-bottom: 2px; padding: 5px 8px;
                }
            }
        }
        .stick {
           position: absolute; top: 6px; right:-12px; width: 50px; height: 10px;
           border: 1px solid #888;
           .transformRotate(45deg);
        }
    }
}
