@import "mixins";

#armyDetailContainer { 
    background: @contentFullBackgroundColor;
    margin-top: 20px;

    .unitTypeTopList {
        background: @unitTypeBackgroundColor;
        > div {
            display: inline-block;
            margin: 2px 1px;
            background: @squadLineBackgroundColor;
            a {
                display: inline-block;
                padding: .5em 1em;
            }
            &:hover, &:active, &.current {
                background: @armyGroupCurrentItemBackground;
                a {
                    color: @armyGroupCurrentItemForeground;
                }
            }
        }
    }
}

.unitTypeList {
    margin-bottom: 1.5em; 
    .unitType {
        display: table-cell; width: 120px; vertical-align: top;
    }
}
.unitType {
    background: @unitTypeBackgroundColor; color: @unitTypeForegroundColor; overflow: hidden;
    .unitTypeStickContainer {
        position: relative;
    }
    .unitTypeStick {
       position: absolute; top: -6px; right:-24px; width: 50px; height: 10px;
       border: 1px solid #888;
       .transformRotate(45deg);
       &.stickLeft {
           left:-24px;
           .transformRotate(-45deg);
       }
    }
}

.squadListContainer {
    padding: 0;
    .squadList {
        .displayFlex;
        .squad {
            width: 240px; overflow: hidden; margin: 0 0.8em 0.8em 0;
            background : @squadBackgroundColor;
            h5 { margin-bottom: 0.5em  }
            // &:hover { height: auto }
            .squadName {
                background: @squadNameBackgroundColor;
                position: relative; overflow: hidden; margin-bottom: 2px;
                h4 { line-height: 28px; padding: 0 0.8em; }
                .actions { padding: 0 .8em .5em; text-align: right; }
                span { color: @unitTypeForegroundColor; }
            }

            .squadLine {
                background: @squadLineBackgroundColor;
                margin-bottom: 2px; padding: 5px 8px;
            }
        }

        .droppableHover {
            background: rgba(255, 255, 255, .3);
        }
    }
} 
    
#armyDetailPreferenceForm {
    margin: 1em 0;
    padding: 1em;
}
#army_bbcode_textarea {
    margin: 1em;
}

@media (min-width: @maxPhoneWidth) and (max-width: @maxTabletWidth) {
    .squadAddContent .unitList .unit {
        width: 49%; margin-right: 2%;
       &:nth-child(2n) { margin-right: 0 }
       &:nth-child(2n+1) { clear: both }
    }
}


@media (max-width: @maxPhoneWidth) {
    .squadAddContent .unitList .unit {
        width: 100%; margin-right: 0;
    }
}


