#armyDetailContainer {
    background: @contentFullBackgroundColor;
    margin-top: 20px;
}

#armyDetailContainer {
    .unitTypeTopList {
        padding: 10px 0;
        > div { display: inline-block; margin-right: 1em }
    }

    .unitTypeList {
        margin-bottom: 1.5em; 
        .unitType {
            display: table-cell; width: 120px; vertical-align: top;
        }
    }
    .unitType {
        background: @unitTypeBackgroundColor; color: @unitTypeForegroundColor; position: relative; overflow: hidden;
        .unitTypeStick {
           position: absolute; top: 6px; right:-12px; width: 50px; height: 10px;
           border: 1px solid #888;
           .transformRotate(45deg);
           &.stickLeft {
               left:-12px;
               .transformRotate(-45deg);
           }
        }
    }
    .squadListContainer {
        padding: 0
    }
    .squadList {
        .displayFlex;
        .squad {
            width: 240px; overflow: hidden; margin: 0 0.8em 0.8em 0;
            background : @squadBackgroundColor;
            h5 { margin-bottom: 0.5em  }
            // &:hover { height: auto }
            .squadName {
                background: @squadNameBackgroundColor;
                position: relative; overflow: hidden; margin-bottom: 2px;
                h4 { line-height: 28px; padding: 0 0.8em; }
                .actions { padding: 0 .8em .5em; text-align: right; }
                span { color: @unitTypeForegroundColor; }
            }

            .squadLine {
                background: @squadLineBackgroundColor;
                margin-bottom: 2px; padding: 5px 8px;
            }
        }
    }
}

.squadAddContent {
    background: @contentFullBackgroundColor;
    .unitList {
        .displayFlex;
        overflow: auto;
        .unit {
            width: 24%; float: left;
            margin: 0 1% 0.8em 0;
            h5 { margin-bottom: 0.5em  }
            &:nth-child(4n) { width: 25%; margin-right: 0 }
            &:nth-child(4n+1) { clear: both }
            &:only-child { width: 100% }
            &:first-child:nth-last-child(2),
            &:first-child:nth-last-child(2) ~ .unit {
                width: 49%;
            }
            &:first-child:nth-last-child(3),
            &:first-child:nth-last-child(3) ~ .unit {
                width: 32%;
            }
            //&:first-child:nth-last-child(1)
            // &:hover { height: auto }
            .unitName {
                background: @squadNameBackgroundColor;
                position: relative; overflow: hidden; line-height: 28px; margin-bottom: 2px; padding: .4em .8em;
                span { color: @unitTypeForegroundColor; }
                .number {
                    float: right;
                }
            }

            .stuffList {
                background: @squadLineBackgroundColor;
                margin-bottom: 2px;
                padding: 5px 0;
                .stuffListItem {
                    table-layout: auto; padding: 0 8px;
                    &:nth-child(2n) {
                        background: lighten(@squadLineBackgroundColor, 2%);
                    }
                    > * { padding: .2em }
                }
                .stuffName { width: 100% }
            }

            .number {
                input { width: 3.5em }
            }
        }

    }
}

@media (min-width: @maxPhoneWidth) and (max-width: @maxTabletWidth) {
    .squadAddContent .unitList .unit {
        width: 49%; margin-right: 2%;
       &:nth-child(2n) { margin-right: 0 }
       &:nth-child(2n+1) { clear: both }
    }
}


@media (max-width: @maxPhoneWidth) {
    .squadAddContent .unitList .unit {
        width: 100%; margin-right: 0;
    }
}


