@import "mixins";

#breadcrumb {
    .border-radius(2px);
    .box-shadow(0 2px 4px #000);
    display: inline-block;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li {
        float: left;
        height: 25px;
        line-height: 25px;
        padding: 0 2px 0 12px;
        .simple-linear-gradient(bottom, #3e3830, #1d1b1a);
        &.current {
            .simple-linear-gradient(bottom, #4a483a, #282b24);
        }
        a {
            color: @inversedLinkColor;
            &:hover { color: @inversedLinkHoverColor }
        }

        &.breadcrumb-separator {
            position: relative;
            padding: 0;
            width: 12px;

            &:before {
                content: " ";
                position: absolute;
                top: 4px;
                left: 0;
                width: 18px;
                height: 18px;

                background: -webkit-linear-gradient(top left, #1d1b1a, #3e3830);
                background: linear-gradient(to bottom right, #1d1b1a, #3e3830);
                .transformRotate(45deg);
                .box-shadow(1px -1px 1px #000);
            }
        }
    }

    .current + .breadcrumb-separator {
        .simple-linear-gradient(bottom, #4a483a, #282b24);
        &:before {
            .simple-linear-gradient(bottom, #4a483a, #282b24);
            background: -webkit-linear-gradient(top left, #282b24, #4a483a);
            background: linear-gradient(to bottom right, #282b24, #4a483a);
        }
    }
}

#websiteHeader, #websiteNav, #websiteFooter {
    max-width: @minGlobalWidth;
    margin-left: auto;
    margin-right: auto;
}
#websiteContentContainer {
    max-width: @switchToGlobalWidth;
    margin-left: auto;
    margin-right: auto;
}

#websiteContentContainer {
    overflow: auto;
    background: url(@contentBackgroundUrl) repeat;
    padding-bottom: 100px;
    #websiteContent {
        margin: 30px 15px;

        > header {
            overflow: auto; margin-top: 20px;
            .action { float: right }
            .breed { float: left; margin: 0 20px 0 0; }
            .breed, .armyDescription .name, .armyDescription .description span {
                text-shadow: 1px 1px 3px #000; font-style: italic; font-weight: 700; font-size: 1.1em;
            }
            .armyDescription {
                float: left;
                .name { font-size: 2em; margin:0 }
            }
        }
    }
}

.pointBarContainer {
    line-height: 2em;
    .pointBar {
        width: 400px; height: 2em; float: left; margin-right: 1em; border: 1px solid @armyDescPointBorder;
        > div { height: 100%; background: @armyDescPointBackground; border-right: 1px solid @armyDescPointBorder; }
    }
}

.inlineBig {
    > * {
        margin: 0 .5em .5em; padding: 1em; background: @squadLineBackgroundColor
    }

    figure {
        text-align: center;
    }


    a figure i {
        font-size: 4em;
        color: #fff;
    }
    a:hover figure i {
        color: #ddd;
    }
}

.share-tooltip-content {
    display: none;
    margin-top: .5em;

    &.visible {
        display: inherit;
    }
}

.addthis_toolbox {
    margin-top: .5em;
}

.oauto {
    overflow: auto;
}

.hidden {
    display: none;
}


.soft { color: @unitTypeForegroundColor; }

.txtleft {
    text-align: left;
}

.alert {
    background: @squadBackgroundColor;
    color: @globalLinkColor;
    border: 1px solid @unitTypeForegroundColor;
    text-align: center;
    font-size: 1.4em;
    padding: 20px;
    margin: 10px 0;
}

.help {
    background: @squadBackgroundColor;
    color: @unitTypeForegroundColor;
    border: 1px solid @unitTypeForegroundColor;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}

@media (max-width: @maxTabletWidth) {
    .hide-mobile {
        display: none!important;
    }
}

@media (min-width: (@maxTabletWidth + 1px)) {
    .only-mobile {
        display: none!important;
    }
}
