@font-face {
    font-family: Din Bold;
    src: url(/fonts/din-bold.otf);
    src: local(':)'), url(/fonts/din-bold.ttf) format('truetype');
}
@font-face {
    font-family: 'dinregular';
    src: url('/fonts/din-regular-webfont.eot');
    src: url('/fonts/din-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/din-regular-webfont.woff') format('woff'),
         url('/fonts/din-regular-webfont.ttf') format('truetype'),
         url('/fonts/din-regular-webfont.svg#dinregular') format('svg');
     font-weight: normal;
     font-style: normal;

}

