@import "variables";
@import "mixins";

#websiteHeader {
    background: url(@globalTopBackgroudImage) top center no-repeat;
    .box-shadow(0 0 15px #000);
    position: relative; height: 146px;
    .headerBar {
        color: #70695f; height: 25px; line-height: 25px; padding: 0 10px;
        a {
            color: #fff;

            &.important {
                color: @globalLinkColor;
            }
        }

        .box-shadow(0 2px 3px rgba(0,0,0,0.46));

        background: #3c3529;
        filter: e(%("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d,endColorstr=%d)", #000, #3c3529));
        background: -webkit-linear-gradient( top, rgba(0, 0, 0, 0.54) 10%, rgba(23,26,20,0.54) 18%, rgba(44,45,38,0.54) 73%, rgba(60,53,41,0.54) 97%, rgba(13,9,5,0.75));
        background:    -moz-linear-gradient( top, rgba(0, 0, 0, 0.54) 10%, rgba(23,26,20,0.54) 18%, rgba(44,45,38,0.54) 73%, rgba(60,53,41,0.54) 97%, rgba(13,9,5,0.75));
        background:     -ms-linear-gradient( top, rgba(0, 0, 0, 0.54) 10%, rgba(23,26,20,0.54) 18%, rgba(44,45,38,0.54) 73%, rgba(60,53,41,0.54) 97%, rgba(13,9,5,0.75));
        background:      -o-linear-gradient( top, rgba(0, 0, 0, 0.54) 10%, rgba(23,26,20,0.54) 18%, rgba(44,45,38,0.54) 73%, rgba(60,53,41,0.54) 97%, rgba(13,9,5,0.75));
        background:         linear-gradient( top, rgba(0, 0, 0, 0.54) 10%, rgba(23,26,20,0.54) 18%, rgba(44,45,38,0.54) 73%, rgba(60,53,41,0.54) 97%, rgba(13,9,5,0.75));
    }
    .logo {
        background: url('/images/logo.png') top center no-repeat;
        width: 160px; height: 72px; position: absolute; top: 50px; left: 50%; margin-left: -80px;
    }
}

#websiteNav {
    margin-top: 80px;
    overflow: auto;
    position: relative;

    &:focus {
        outline-style: none;
    }

    ul {
        margin: 0; padding: 0;
        list-style: none;
    }

    li {
        float: left;
        line-height: 41px;

        &:hover {
            background: rgba(255, 255, 255, .15);
        }

        &:first-child a > span { border-left-color: transparent }
        &:last-child a > span { border-right-color: transparent }
    }

    a {
        display: inline-block;
        color: #fff;
        font-family: dinregular;
        font-size: 1.1em;

        > span {
            border-left: 1px solid #595e45;
            border-right: 1px solid #20231d;
            padding: 0 15px;
        }
    }

    &:not(:focus) ul {
        max-height: 0;
    }
}

@media (max-width: 800px) {
    #websiteNav {
        z-index: 1;
        &:before {
            content: "Menu \25BC";
            display: block;
            padding: .6em 15px;
            font-family: dinregular;
            font-size: 1.1em
        }

        ul {
            max-height: 25em; // menu masqué
            .transition(max-height .4s);
            overflow: hidden;
        }
        .left, .right, li {
            float: none;
        }
        a {
            display: block;
            padding: .6em 15px;
            background: #213233;
            text-decoration: none;

            border-top: 1px solid #44463f;
            border-bottom: 1px solid #20231d;

            &:hover, &:active {
                background: #274244;
            }

            > span {
                border: 0;
            }
        }
    }
}
