/* ------------------------------------------------------ */
/*			- Override -          					 	  */
/* ------------------------------------------------------ */
@import "variables";
@import "mixins";


html { font-family: @globalFontFamily }
body {
    background: url(@globalBackgroudImage) top center no-repeat @globalBackgroudColor;
    color: @globalColor; 
    font-family: arial, @globalFontFamily;
    font-size: @globalFontSize;
}
a {
    color: @globalLinkColor; text-decoration: none;
    &:hover { color: @globalLinkHoverColor }
}
a.inversed {
    color: @inversedLinkColor;
    &:hover { color: @inversedLinkHoverColor }
}
input[readonly] {
    color: #bbb;
}

.row.gut > * + * {
    border-color: transparent;
}
ul.inline {
    .ulInlineBlock()
}
.vmiddle {
    vertical-align: middle;
}

table.squadType {
    width: 100%; background: @contentFullBackgroundColor;
    th { background: @squadNameBackgroundColor }
    td {
        background: @squadBackgroundColor;
        text-align: center;

        &.txtleft {
            text-align: left;
        }

        > * {
            vertical-align: middle;
        }
    }

    .breedImage {
        margin-right: .5em;
    }
}

.normalWrap {
    white-space: normal
}

form {
    //background: @formBackground;
    //margin-bottom: 1em;

    > .line {
        background: @formLineBackground;
        padding: 4px 8px;
        &:nth-child(2n) {
            background: @formLineBackgroundOdd;
        }
    }
}
