@import "variables";
@import "variables-print";
@import "mixins";

/* ------------------------------------------------------ */
/*			- Print -    	    				 	      */
/* ------------------------------------------------------ */
body {
    background: none;
    color: @globalColor
}
a {
    color: @globalLinkColor;
}

#websiteHeader, #websiteFooter, #breadcrumb { display:none!important }
#websiteContentContainer { width: 100%; background: none }
.acButton { display: none }
form { display: none }

