#squadDetail {
    header {
        text-align: center; padding: 1em
    }
    nav {
        background: @squadLineBackgroundColor;
        div {
            &.current {
                background: @contentFullBackgroundColor;
                .arrowContainer .arrow {
                    background: @squadLineBackgroundColor;
                }
                a { color: @globalColor }
            }
            .arrowContainer {
                position: relative;
                .arrow {
                    background: @contentFullBackgroundColor;
                    &.arrowUnitType {
                        background: @squadLineBackgroundColor;
                    }
                    height: 35px;
                    position: absolute;
                    left: -44px;
                    top: -7px;
                    width: 35px;
                    .transformRotate(45deg);
                }
            }
        }
    }
    .unitGroupList {
        li {
            margin: .5em; padding: 1em; background: @squadLineBackgroundColor
        }
    }

    .otherBreed > ul {
        .ulInline; .displayFlex;
    }
    .otherType, .otherBreed {
        display: none;
    }

    .unitName {
        margin: auto; width: auto;
        input, select { margin-left: 1em }
    }

    .toggleAmau.highlight {
        color: @globalLinkColor;
    }
}
