/* ------------------------------------------------------ */
/*			- Parameters -   					 	      */
/* ------------------------------------------------------ */
@minGlobalWidth: 1010px;
@globalWidth: 80%;
@globalFontSize: 1.2em;
@globalFontFamily: arial, Verdana, "Century Gothic", helvetica, sans-serif;
@globalBackgroudColor: #1a1a1a;
@globalBackgroudImage: '/images/background.jpg';
@globalTopBackgroudImage: '/images/top-background.jpg';
@globalColor: #fff;
@globalLinkColor: #eb9e34;
@globalLinkHoverColor: #70695f;

@inversedLinkColor: @globalLinkHoverColor;
@inversedLinkHoverColor: @globalLinkColor;
@globalButtonColor: #585a4c;
@contentFullBackgroundColor: #151514;
@contentBackgroundUrl: '/images/content-background.png';

@squadBackgroundColor: #181818;
@squadLineBackgroundColor: #2e2f2a;
@squadNameBackgroundColor: #242c2b;
@unitTypeBackgroundColor: #20211d;
@unitTypeForegroundColor: #70695f;

@darkorange: rgb(230, 132, 26);

@armyDescPointBorder: @contentFullBackgroundColor;
@armyDescPointBackground: @squadBackgroundColor;

@formBackground: @squadBackgroundColor;
@formLineBackground: lighten(@formBackground, 2%);
@formLineBackgroundOdd: lighten(@formBackground, 4%);

@armyGroupMenuBackground: @contentFullBackgroundColor;
@armyGroupItemBackground: @unitTypeBackgroundColor;
@armyGroupItemForeground: @unitTypeForegroundColor;
@armyGroupCurrentItemBackground: #282b24;
@armyGroupCurrentItemForeground: #fff;

@breadcrumbForegroundColor: @unitTypeForegroundColor;

@errorColor: #ad4040;

@baseFontSize: 1.4em;
@baseLineHeight: 1.5;

@acButtonBackgroundTop: #353b2f;
@acButtonBackgroundBottom: #000;
@acButtonBorderRadius: 2px;

// responsive
@switchToGlobalWidth: 1280px; // = @minGlobalWidth / @globalWidth
@maxPhoneWidth: 480px;
@maxTabletWidth: 767px;
