{% extends '::base.html.twig' %}

{% block title "ArmyCreator Import" %}

{% block body %}
	<div id="websiteContent">
		{# <h1><span>{{ block('title') }}</span> {% block h1 %}{% endblock %}</h1> #}
        {% block h1Container %}
            <h1>{% block h1 %}{{ block('title') }}{% endblock %}</h1>
        {% endblock %}


        {% block flashes %}
            {% for key, message in app.session.getFlashes() %}
                <div class="alert alert-{{ key }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endblock %}

		{% block content %}
		{% endblock %}
	</div>
{% endblock %}

{% block stylesheets %}
    {% if app.environment == 'dev' %}
        <!-- dev:import.css -->
          <link rel="stylesheet" type="text/css" href="/tmp/css/import.css/elusive-webfont.css">
        <!-- endbuild -->
    {% else %}
        <!-- prod:import.css --><!-- endbuild -->
    {% endif %}
{% endblock %}

