{% macro stick(color, stickLeft) %}
    <div class="unitTypeStickContainer">
        <div class="unitTypeStick {% if stickLeft %} stickLeft{% endif %}" style="background-color:{{ color|default("#ccc") }}"></div>
    </div>
{% endmacro %}
