{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block content %}
    <h1>UnitType creation</h1>

    <form
        action="{{ path("unittype_create", {"game": breed.game.code, "breed": breed.slug}) }}"
        method="post" {{ form_enctype(form) }}
        class="opaque"
    >
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path("admin_breed_show", {"game": breed.game.code, "breed": breed.slug}) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
