{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block h1 %}Breed edit{% endblock %}

{% block content %}
<form action="{{ path('admin_breed_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="opaque">
    {{ form_widget(edit_form) }}
    <div class="txtright">
        <button type="submit" class="acButton acButtonBig">Create</button>
    </div>
</form>

<div class="txtright">
    <a href="{{ path('admin_breed') }}" class="acButton">
        Back to the list
    </a>
</div>
{% endblock %}
