{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block h1 %}Breed creation{% endblock %}

{% block content %}
<form action="{{ path("admin_breed_create") }}" method="post" {{ form_enctype(form) }} class="opaque">
    {{ form_widget(form) }}
    <div class="txtright">
        <button type="submit" class="acButton acButtonBig">Create</button>
    </div>
</form>

<div class="txtright">
    <a href="{{ path('admin_breed', { "game": game.code }) }}" class="acButton">
        Back to the list
    </a>
</div>
{% endblock %}
