{% extends 'SitiowebArmyCreatorBundle:Squad:edit.html.twig' %}

{% block title %}Squad line edit{% endblock %}

{% block squadAddContent %}
    <form action="{{ path('squad_create', {'armySlug' : army.slug, 'unitGroupId' : app.request.get('unitGroupId')}) }}" method="post" {{ form_enctype(form) }}>

        {{ block('squadLineList') }}

        {{ form_rest(form) }}
    </form>

{% endblock %}

{% block squadAddButtonList %}
    <input type="submit" class="acButton acButtonHuge" value="Create" />
{% endblock %}
