{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block content %}
    <h1>UnitGroup creation</h1>

    {% set breed = app.request.get("breed") %}
    {% set game = breed.game %}
    {% set params = {"game": game.code, "breed": breed.slug} %}

    <form action="{{ path("unitgroup_create",  params) }}" method="post" {{ form_enctype(form) }} class="opaque">

        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path("admin_breed_show", params) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
